.community{
  background-color: #2C2C2C;

  .t1 {
    img {
        width: 276px;
        margin-top: 6px;
        margin-left: 24px;
    }
  }

  .profile{
        margin-top: 24px;


   img{
         width: 300px;
         margin-left: 15px;
         margin-top: -2px;
   }
  }

  h1{
      color: white;
      margin-top: 217px;
      font-size: 10px;
      font-weight: 300;

      margin-left: 194px;
  }





}
