.menu{
  width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top:0;
  right:-300px;
  z-index:2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  .image90{
     margin-top: -369px;
    img{
      width: 322px;
      margin-left: 79px;
      margin-top: 18px;
      }
    }


  &.active{
    right: 0;
  }

  ul{
    margin:0;
    padding: 0;
    list-style: none;
    color: white;


      .home{
        color: black;
        width: 223px;
        height: 41px;
        margin-bottom: 7px;
        align-content: center;
        /* border-radius: 21px; */
        font-size: 18px;

        li{

          padding-top: 11px;
          font-family: 'NeueHaasUnica';
        }
      }
      .about {
        color: black;
        width: 223px;
        height: 41px;
        margin-bottom: -5px;
        align-content: center;
        font-size: 18px;
        a {
          text-decoration: none;
          color: black;
        }
        li {
          padding-top:-15px;
          font-family: 'NeueHaasUnica';
        }
      }
      .testimonials{
           color: black;
           width: 223px;
           height: 41px;
           margin-bottom: 7px;
           align-content: center;
           font-size: 18px;
           margin-top: -10px;

        li {
         font-family: 'NeueHaasUnica';
         margin-left: -125px;
         margin-top: -11px;
        }
      }
      .mystory {
            color: black;
            width: 223px;
            height: 41px;
            margin-bottom: 7px;
            align-content: center;
            font-size: 17px;
            margin-top: -8px;

        li {
          padding-top: -15px;
          font-family: 'NeueHaasUnica';
        }
      }

    }




}
