.intro{
  background-color: #2C2C2C;


  .text{
    margin-top: 67px;

    img{
      width: 327px;
    }

  }



 .button{
      margin-top: -38px;
      margin-left: 102px;
      border-radius: 32px;
      width: 118px;
      height: 33px;
      background: white;
      color: black;
      font-size: 13px;

 }
}
