.intro{
  .text{
   img{
      position: absolute;
      width: 374px;
      margin-top: -68px;
    }
  }
 .button{
  position: absolute;
  margin-top: 500px;
  margin-left: 128px;
  border-radius: 32px;
  width: 133px;
  height: 43px;
  color: black;
  font-size: 15px;
 }
}
