.intro{
  background-color: #2C2C2C;


  .text{

   width: 327px;
   margin-top: 34px;

  }



 .button{
      margin-top: -38px;
      margin-left: 102px;
      border-radius: 32px;
      width: 118px;
      height: 33px;
      background: white;
      color: black;
      font-size: 13px;
      font-weight: 500;
 }
}
