.testimonials{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


 .carousel{
   width: 325px;
   border-radius: 30px;
   margin-top: -39px;
 }



}
