.testimonials{

  .text1{
    h1{
      margin-left: 29px;
      margin-top: -1px;
      font-size: 40px;
      font-family: 'NeueHaasUnica';
      font-weight: bold;
    }
  }
  .right {
    margin-top: -5px;
    margin-left: -34px;

    input {
      margin-left: 70px;
      text-decoration: none;
      color: black;
      border: none;
      margin-top: 4px;
    }

  }

  .image30{
    img{
      width: 334px;
      margin-left: 34px;
      margin-top: 16px;
    }

  }
   .carousel {
    width: 249px;
    border-radius: 30px;
    margin-top: -6px;
    margin-left: 62px;

   }





}
